input{
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
}

.wrapper{
    padding: 50px;
    align-content: center;
    justify-content: center;
}

.labels{
    display: flex;
    gap: 20px;
    font-size: 30px;
}

select{
    font-size: 20px;
    padding: 2px;
    margin-left: 10px;
}